\.kdev4/
\.vs/
\.vscode/
build/
images/unused/
obj/
packages/
save/
win-build/
vs-build/
CMakeCache\.txt
CMakeSettings.json
Camels\.*
cmake_install\.cmake
colorpicker\.py
packages.config
SDL2.dll
settings.ini
vimsrc\.sh
