\.clang-format
\.kdev4/
CMakeCache\.txt
Camels\.kdev4
build/
cmake_install\.cmake
colorpicker\.py
map\.bmp
map\.png
obj/
rearrange_data\.py
save\.fbs
save/
vimsrc\.sh
win-build/
.vscode
images/15163349661655117857camel-cartoon-clipart.med.png
images/world.topo.200408.3x5400x2700.png
images/map2.png
